.styled_table {
    border-collapse: collapse;
    background-color: white;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled_table thead,
.styled_table tbody {
    display: block;
}

.styled_table tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.styled_table thead tr {
    text-align: left;
}

.styled_table thead th,
.styled_table tbody td {
    padding: 7px;
}

.styled_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody td, thead th {
    width: 20%;  /* Optional */
}

.tableHeader{
    display: "grid";
    grid-template-columns: 1fr 1fr;
    background-color: #08548b;
    color: white;
    height: 30px;
    padding: 1em;
    border-radius: 6px 6px 0px 0px;
}

.table_header__title {
    font-weight: 600;
    font-size: 16px;
}