.dashboard-container {
	font-family: arboria, sans-serif;
	font-weight: 400;
}

.dashboard-container {
    width: 100%;
    height: 100%;
    color: #232323;
	background-color: #FCFCFC;
	display: flex;
	flex: 1;
}

.dashboard-container .operations-container {
    height: 100%;
	width: 100%;
	background-color: #FCFCFC;
}

.dashboard-container .message-inbox-container {
	width: 80%;
	/* background-color: #ca1b1b; */
}

.dashboard-container .title-container {
	display: flex;
	width: 100%;
	height: 10%;
}

.dashboard-container .screen-title {
	font-family: news-gothic-std, sans-serif;
	font-size: 20px;
	margin-left: 1%;
}

.dashboard-container .data-container {
	display: flex;
	flex-direction: column;
	align-items: top;
	justify-content: space-around;
	height: 90%;
	width: 100%;
}

.dashboard-container .cards-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.dashboard-container .cards-container-typist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: flex-start;
	width: 48.5%;
	height: 100%;
}

.dashboard-container .tables-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.dashboard-container .cardWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #e5e7e9;
	border-radius: 5px;
	background-color: #fff;
    color: #232323;
	height: auto;
	width: 30%;
    cursor: pointer;
}

.dashboard-container .cardWrapper:hover {
    box-shadow: 0px -1px 5px 2px rgba(191,191,191,0.81);
}


.dashboard-container .title {
	margin-top: 5%;
	color: #424949;
	font-weight: 500;
	font-size: 14px;
}

.dashboard-container .value {
	font-size: 24px;
	font-weight: 600;
}

.dashboard-container .percent {
	color: #4fac6b;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 2%;
}

.dashboard-container .graphic-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	height: 60%;
	margin-bottom: 5%;
}

.dashboard-container .table-container {
	padding: 1%;
	height: 100%;
}

.dashboard-container .center-div {
	display: flex;
	flex-direction: column;
	/* background-color: yellowgreen; */
	padding: 1%;
	height: 100%;
}

.dashboard-container .center-div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid #C5C5C5;
	border-radius: 0 0 5px 5px;
}

.dashboard-container .table-header {
	display: flex;
	background-color: #08548c;
	color: white;
	border-radius: 6px 6px 0px 0px ;
	align-items: center;
}

.dashboard-container .table_header__title {
    font-weight: 500;
    font-size: 16px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 2%;
}

.dashboard-container .table-header-full-screen {
	display: flex;
	align-items: center;		
	padding-right: 2%;
}

.dashboard-container h3 {
	font-weight: 400;
	font-family: sans-serif;
}

.dashboard-container h2 {
	font-weight: 400;
	font-family: sans-serif;
}

.dashboard-container .table-header-mark-as-read {
	display: flex;
	align-items: center;
	width: 50%;		
	justify-content: space-between;
	font-family: sans-serif;
	/* background-color: red; */
	border-radius: 6px 6px 0px 0px ;
	margin-left: 50%;
}

.dashboard-container .read-filter {
	color: #08548b;
	font-size: 12px;
	/* background-color: green; */
}

.dashboard-container h3 {
	font-weight: 400;
	font-family: sans-serif;
}

.dashboard-container h2 {
	font-weight: 400;
	font-family: sans-serif;
}

.dashboard-container .all-messages {
	margin-left: 10%;
	color: #08548b;
	font-size: 12px;
}

.dashboard-container .amount-of {
	background-color: #fff;
	color: #08548c;
	border-radius: 3px;
	padding: 0px 5px 0px 5px;
	font-size: 1rem;
}

.dashboard-container .view-job-details {
	color: white;
	font-size: 10px;
}

.dashboard-container .total-messages {
	width: 15%;
	height: 5%;
	background-color: #fff;
	color: #08548b;
	border-radius: 3px;
	padding: 0px 5px 0px 5px;
	font-size: 0.8rem;
	margin-right: 2%;
}

.dashboard-container .message-container {
	display: flex;
	flex-direction: row;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	width: 100%;
	/* background-color: lightblue; */
	align-items: center;
	justify-content: center;
}

.dashboard-container .extend-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* background-color: red; */
	border: 1px solid #C5C5C5;
	border-radius: 10px;
}

.dashboard-container .preview {
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	font-size: 0.5rem;
	font-weight: 200;
	align-items: center;
	width: 100%;
	height: 100%;
	/* background-color: rgb(118, 205, 118); */
}

.dashboard-container .preview:hover {
	cursor: pointer;
}

.dashboard-container .show-message-div {
	/* background-color: GREY; */
	font-size: 0.7rem;
	text-align: justify;
	font-family: sans-serif;
	padding-left: 1%;
	padding-right: 1%;
}

.dashboard-container .details-div {
	background-color: #08548b;
	width: 11%;
	display: flex;
	flex-direction: row;
	align-items: center;		
	justify-content: center;
	font-family: sans-serif;
	border-radius: 4px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.dashboard-container .date {
	width: 12%;
	padding-left: 1%;
	/* background-color:lightblue; */
}

.dashboard-container .subject {
	width: 18%;
	/* background-color:lightblue; */
}

.dashboard-container .job-adress {
	width: 42%;
	/* background-color:lightblue;	 */
	/* margin-left: 1%; */
}

.dashboard-container .sender {
	width: 25%;
	/* background-color:lightblue;	 */
}

.dashboard-container .eye-div {
	/* background-color: red;	 */
	margin-left: 1%;
}

.dashboard-container .fullscreen-svg {
	height: 25px;
	width: 25px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(101%) contrast(102%);
}

.dashboard-container .detail-svg {
	height: 15px;
	width: 15px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(317deg) brightness(101%) contrast(102%);
}

.dashboard-container .eye-open-svg {
	height: 20px;
	width: 20px;
	filter: invert(88%) sepia(3%) saturate(6%) hue-rotate(326deg) brightness(91%) contrast(87%);
}

.dashboard-container .eye-open-svg:hover {
	cursor: pointer;
	height: 20px;
	width: 20px;
	filter: invert(20%) sepia(36%) saturate(4492%) hue-rotate(188deg) brightness(94%) contrast(94%);
}

.dashboard-container .eye-open-svg-read {
	cursor: pointer;
	height: 20px;
	width: 20px;
	filter: invert(20%) sepia(36%) saturate(4492%) hue-rotate(188deg) brightness(94%) contrast(94%);
}

.dashboard-container .real-table-container {
	height: 100%;
	background-color: white;
}

.dashboard-container .inbox-container {
	height: 90%;
	/* background-color:#4fac6b; */
	width: 95%;
}

.dashboard-container .styled_table {
    /* border-collapse: collapse; */
    background-color: white;
    font-size: 0.9em;
    min-width: 350px;
	width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	height: 100%;
	border-radius: 0 0 5px 5px;
	padding: 0 1% 1% 1%;
}

.dashboard-container .styled-table-msg {
	table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
    font-size: 0.8em;
	font-family: sans-serif;
    min-width: 350px;
	width: 100%;
}

.dashboard-container .styled-table-msg thead th:nth-child(1) {
  	width: 12%;
}
.dashboard-container .styled-table-msg thead th:nth-child(2) {
  	width: 18%;
}
.dashboard-container .styled-table-msg thead th:nth-child(3) {
  	width: 40%;
}
.dashboard-container .styled-table-msg thead th:nth-child(4) {
  	width: 5%;
}

.styled_table thead tr {
    text-align: left;
}

.styled-table-msg thead tr {
    text-align: left;
}

.styled_table thead th,
.styled_table tbody td {
	font-size: 0.7rem;
}

.styled_table tbody tr {
    border-bottom: 1px solid #bcbcbc;
}

.dashboard-container .page-container {
	width: 7%;
	font-size: 0.6rem;
	display: flex;
	align-self: flex-end;
	align-items: center;
	margin-right: 5%;
}

.dashboard-container .arrows {
	width: 15px;
	height: 15px;
}

